SUPABASE_URL=https://ltojhmtxvnnxnncbeziv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0b2pobXR4dm5ueG5uY2Jleml2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjMwMDI0MCwiZXhwIjoyMDg3ODc2MjQwfQ.QJiRVjhDO6o4bBFSwRSVM0TymUIIpmo-Dr8AWsX4y3Q
SUPABASE_ORDERS_TABLE=orders
PORT=3000